@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

body {
    background-color: #0D1117;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    background-color: #242424;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7.5vh;
    padding: 0 10vw;
    border-bottom-style: solid;
    border-color: #000000;
    border-width: 2px;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.header-icon {
    height: 36px;
    width: auto;
    margin: 6px;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    margin: 12px;
    padding: 12px;
}

a:hover {
    border-bottom-style: solid;
    border-bottom-color: #e5e7eb;
    border-width: 1px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-title {
    color: #F9FAF8;
    font-size: 56px;
    margin: 2.5vh 0;
}

.instructions {
    color: #f9f9f9;
    font-size: 18px;
    margin: 2.5vh 0;
}

button {
    font-size: 16px;
    border: none;
    padding: 12px;
    margin: 12px 36px;
    width: 120px;
    background-color: #64D1C0;
    font-weight: 900;
}

.log {
    background-color: #333333;
    height: 72px;
}

.log-text {
    
}

.footer {
    background-color: #333333;
    font-size: 14px;
    color: #666666;
    height: 5vh;
    display: flex;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #000000;
    align-items: center;
    padding: 0 12px;
}
